<!DOCTYPE html>
<html>
<head>
    <title>React Isomorphic</title>
    <script type="application/javascript">
        window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %>;
    </script>
    <link href='/style.css' rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div id="react-main-mount"><%- reactOutput %></div>

<!-- comment out bundle.js to see server side only rendering -->
<script src="/bundle.js"></script>

</body>
</html>
